@using DemoDeploySite.Components
@inherits LayoutComponentBase

<MyMudThemeProvider />

<div>
    <header class="d-flex px-3 py-3 w-100">
        <NavMenu />
    </header>

    <main>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-2 pt-2">
            @Body
        </MudContainer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>