@using DemoDeploySite.Components
@inherits LayoutComponentBase

<MyMudThemeProvider />

<div>
    <rei-ayanami>
    <NavLink class="absolute" Href="/" Match="NavLinkMatch.All">
        <MudImage Class="absolute"
                  Src="/HomeHeaderImg.png" Alt="给凌波丽"
                  Style="width:9rem; left:1rem; top:1rem; filter: drop-shadow(-15px -10px 3px #5d6b9950)" />
        </NavLink>
    </rei-ayanami>

    <header class="d-flex px-3 py-3 z-100">
        <NavMenu />
    </header>

    <main>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-2 pt-2">
            @Body
        </MudContainer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>