@using DemoDeploySite.Components
@inherits LayoutComponentBase

<MyMudThemeProvider />

<div>
    <rei-ayanami>
        <NavLink Href="/" Match="NavLinkMatch.All">
            <div>
                <img src="/HomeHeaderImg.png" alt="给凌波丽"
            </div>
        </NavLink>
    </rei-ayanami>

    <header class="d-flex px-3 py-3 z-100">
        <NavMenu />
    </header>

    <main>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-2 pt-2">
            @Body
        </MudContainer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>