/* #region MudBlazor Source */
.btn-primary {
  text-transform: uppercase;
  --bs-btn-bg: var(--mud-palette-primary) !important;
  --bs-btn-hover-bg: var(--mud-palette-primary-darken) !important;
}
.nav-pills {
  --bs-nav-pills-link-active-bg: var(--mud-palette-primary) !important;
}
.nav {
  --bs-nav-link-color: var(--mud-palette-primary) !important;
  --bs-nav-link-hover-color: var(--mud-palette-primary-darken) !important;
}
/* #endregion */
/* #region About NavLink */
.nav-link-default {
  transition: width 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, min-width 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  min-width: min-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
@media (max-width: 9999px) {
  .nav-link-default {
    width: 12rem;
    min-width: 12rem;
  }
}
@media (max-width: 1840px) {
  .nav-link-default {
    width: 9rem;
    min-width: 9rem;
  }
}
@media (max-width: 1240px) {
  .nav-link-default {
    width: 6rem;
    min-width: 6rem;
  }
}
@media (max-width: 640px) {
  .nav-link-default {
    width: 3rem;
    min-width: 3rem;
  }
}
.nav-link-default button.mud-button {
  width: 100%;
  height: 100%;
}
.nav-link-default.active button.mud-button {
  background: #ffd80040;
}
.nav-link-default span.nav-link-text {
  display: flex;
  overflow: hidden;
  width: max-content;
  opacity: 1;
  transition: width 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
@media (max-width: 640px) {
  .nav-link-default span.nav-link-text {
    width: 0rem;
    opacity: 0;
    transition: width 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
@media (max-width: 640px) {
  .nav-link-default span.mud-button-icon-start.mud-button-icon-size-medium {
    margin: 0rem;
    transition: margin 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
header {
  position: relative;
}
header * {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
@media (max-width: 9999px) {
  header:before {
    width: 12rem;
    min-width: 12rem;
  }
}
@media (max-width: 1840px) {
  header:before {
    width: 9rem;
    min-width: 9rem;
  }
}
@media (max-width: 1240px) {
  header:before {
    width: 6rem;
    min-width: 6rem;
  }
}
@media (max-width: 640px) {
  header:before {
    width: 3rem;
    min-width: 3rem;
  }
}
header:hover:has(.nav-link-default:nth-of-type(3):hover):before {
  content: '';
  position: absolute;
  opacity: 1;
  display: block;
  height: 0.15rem;
  bottom: 0rem;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.3);
  transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
@media (max-width: 9999px) {
  header:hover:has(.nav-link-default:nth-of-type(3):hover):before {
    transform: translate(24rem);
  }
}
@media (max-width: 1840px) {
  header:hover:has(.nav-link-default:nth-of-type(3):hover):before {
    transform: translate(18rem);
  }
}
@media (max-width: 1240px) {
  header:hover:has(.nav-link-default:nth-of-type(3):hover):before {
    transform: translate(12rem);
  }
}
@media (max-width: 640px) {
  header:hover:has(.nav-link-default:nth-of-type(3):hover):before {
    transform: translate(6rem);
  }
}
header:hover:has(.nav-link-default:nth-of-type(2):hover):before {
  content: '';
  position: absolute;
  opacity: 1;
  display: block;
  height: 0.15rem;
  bottom: 0rem;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.3);
  transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
@media (max-width: 9999px) {
  header:hover:has(.nav-link-default:nth-of-type(2):hover):before {
    transform: translate(12rem);
  }
}
@media (max-width: 1840px) {
  header:hover:has(.nav-link-default:nth-of-type(2):hover):before {
    transform: translate(9rem);
  }
}
@media (max-width: 1240px) {
  header:hover:has(.nav-link-default:nth-of-type(2):hover):before {
    transform: translate(6rem);
  }
}
@media (max-width: 640px) {
  header:hover:has(.nav-link-default:nth-of-type(2):hover):before {
    transform: translate(3rem);
  }
}
header:hover:has(.nav-link-default:nth-of-type(1):hover):before {
  content: '';
  position: absolute;
  opacity: 1;
  display: block;
  height: 0.15rem;
  bottom: 0rem;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.3);
  transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
@media (max-width: 9999px) {
  header:hover:has(.nav-link-default:nth-of-type(1):hover):before {
    transform: translate(0rem);
  }
}
@media (max-width: 1840px) {
  header:hover:has(.nav-link-default:nth-of-type(1):hover):before {
    transform: translate(0rem);
  }
}
@media (max-width: 1240px) {
  header:hover:has(.nav-link-default:nth-of-type(1):hover):before {
    transform: translate(0rem);
  }
}
@media (max-width: 640px) {
  header:hover:has(.nav-link-default:nth-of-type(1):hover):before {
    transform: translate(0rem);
  }
}
header:hover:has(.nav-link-default:nth-of-type(0):hover):before {
  content: '';
  position: absolute;
  opacity: 1;
  display: block;
  height: 0.15rem;
  bottom: 0rem;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.3);
  transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
@media (max-width: 9999px) {
  header:hover:has(.nav-link-default:nth-of-type(0):hover):before {
    transform: translate(-12rem);
  }
}
@media (max-width: 1840px) {
  header:hover:has(.nav-link-default:nth-of-type(0):hover):before {
    transform: translate(-9rem);
  }
}
@media (max-width: 1240px) {
  header:hover:has(.nav-link-default:nth-of-type(0):hover):before {
    transform: translate(-6rem);
  }
}
@media (max-width: 640px) {
  header:hover:has(.nav-link-default:nth-of-type(0):hover):before {
    transform: translate(-3rem);
  }
}
/* #endregion */
/* #region Custom Generic Styles */
/* #region widht */
.w-full {
  width: 100%;
}
.w-auto {
  width: auto;
}
.w-max-content {
  width: max-content;
}
/* #endregion */
/* #region  height*/
.h-full {
  height: 100%;
}
.h-auto {
  height: auto;
}
/* #endregion */
.user-select {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
/* #endregion */